<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
 
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
 
        <td><%= article.user.email %></td>
        <td><%=  link_to 'Show', article,:class=>"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_article_path(article) ,:class=>"btn btn-info"   if  !session[:user].nil? %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"btn btn-info"   if  !session[:user].nil? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path,:class=>"btn btn-success"%>
